<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ticket Order</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyEQBf6kLJt1PZxlUAelK9PJFhWQ2"
          crossorigin="anonymous">
    <style>
        .movie-section,
        .search-section {
            margin-top: 20px;
        }

        .movie-item {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<div class="container mt-4">
    <div class="row movie-section">
        <!-- Movie Selection Section -->
        <div class="col-md-12">
            <h2>Choose a Movie:</h2>
            <th:block th:if="${hasError} != null">
                <p class="text-danger" th:text="${error}"></p>
            </th:block>
            <form th:method="POST" th:action="@{/ticketOrder}">
                <div class="row">
                    <div th:each="movie : ${movies}" class="col-md-4 movie-item">
                        <div class="form-check">
                            <input type="radio" class="form-check-input" th:name="selectedMovie"
                                   th:value="${movie.getTitle()}" required>
                            <label class="form-check-label" th:for="selected-movie"
                                   th:text="${movie.getTitle()}"></label>
                            <p class="text-muted" th:text="'Production: ' + ${movie.getProduction()}"></p>

                            <div class="btn-group">
                                <a th:href="@{'/movies/delete/' + ${movie.getId()}}"
                                   class="btn btn-sm btn-danger">DELETE</a>
                                <a th:href="@{'/movies/edit-form/' + ${movie.getId()}}"
                                   class="btn btn-sm btn-primary">EDIT</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="display: flex; justify-content: space-around">
                    <div class="col-md-4">
                        <h2>Choose Number of Tickets:</h2>
                        <input type="number" name="numTickets" class="form-control" min="1" max="10">
                        <br/>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="mt-6">
                        <a href="/movies/add-form" class="btn btn-success">Add New Movie</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Search and Most Popular Movie Section -->
    <div class="row search-section">
        <div class="col-md-6">
            <form method="get" action="">
                <h2>Search Movies by Title and Rating</h2>
                <div class="form-group">
                    <label for="search-text">Enter Title</label>
                    <input type="text" name="searchText" id="search-text" class="form-control" value="">
                </div>

                <div class="form-group">
                    <label for="rating">Enter Rating</label>
                    <input type="number" min="1" max="10" id="rating" name="searchRating" class="form-control"
                           value="1">
                </div>

                <input type="submit" class="btn btn-primary" value="Search">
            </form>

            <hr>

            <h2>Result:</h2>
            <ul class="list-unstyled" th:each="movie : ${searchedMovies}">
                <li th:text="${movie.getTitle()} + ' ' + ${movie.getRating()}"></li>
            </ul>
        </div>

        <div class="col-md-6">
            <hr>

            <div th:if="${mostPopularMovie != null}">
                <h2>Most Popular Movie:</h2>
                <p th:text="${mostPopularMovie.getKey()} + ', Tickets: ' + ${mostPopularMovie.getValue()}"></p>
            </div>

        </div>
    </div>
</div>

</body>
</html>
