<div xmlns:th="http://www.thymeleaf.org">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">All movies</h1>
            </div>
        </section>
    <div class="container" style="display: flex">
        <div>
            <h2>Choose movie:</h2>
            <form th:method="POST" th:action="@{/ticketOrder}">
                <div th:each="movie : ${movies}">
                    <input type="radio" th:name="selectedMovie"
                           th:value="${movie.getTitle()}" required>
                    <label th:for="selected-movie"
                           th:text="${movie}">
                    </label> <br>
                    <th:block th:text="'Production: ' + ${movie.getProduction()}"></th:block> <br>

                    <th:block>
                        <a th:href="@{'/movies/delete/{id}' (id=${movie.getId()})}">
                            <i>DELETE</i>
                        </a>
                    </th:block> ||
                    <th:block>
                        <a th:href="@{'/movies/edit/{id}' (id=${movie.getId()})}">
                            <i>EDIT</i>
                        </a>
                    </th:block>
                </div>


                <h2>Choose number of tickets:</h2>
                <input type="number" name="numTickets" min="1" max="10"><br/>
                <br/>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div>
            <form method="get" action="">
                <h2>Search movies by title and rating</h2>
                <label for="search-text">Enter title</label>
                <input type="text" name="searchText" id="search-text" value="">
                <label for="rating">Enter rating</label>
                <input type="number" min="1" max="10" id="rating" name="searchRating" value="1">

                <input type="submit" value="Search">
            </form>
            <hr>
            <h2>Result:</h2>
            <ul th:each="movie : ${searchedMovies}">
                <li th:text="${movie.getTitle()} + ' ' + ${movie.getRating()}"></li>
            </ul>

            <hr>
            <div th:if="${mostPopularMovie != null}">
                <h2>Most popular movie:</h2>
                <p th:text="${mostPopularMovie.getKey()} + ', tickets: ' +
                            ${mostPopularMovie.getValue()}"></p>
            </div>

            <div>
                <button>
                    <a href="/movies/add">Add new movie</a>
                </button>
            </div>
        </div>

    </div>
</div>
